<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">
    <servlet>
        <servlet-name>ListProyectosServlet</servlet-name>
        <servlet-class>servlet.ListProyectosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProyectosServlet</servlet-name>
        <url-pattern>/ListProyectosServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewProyectoServlet</servlet-name>
        <servlet-class>servlet.NewProyectoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewProyectoServlet</servlet-name>
        <url-pattern>/NewProyectoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListTareasServlet</servlet-name>
        <servlet-class>servlet.ListTareasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTareasServlet</servlet-name>
        <url-pattern>/ListTareasServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewTareaServlet</servlet-name>
        <servlet-class>servlet.NewTareaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewTareaServlet</servlet-name>
        <url-pattern>/NewTareaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTareaServlet</servlet-name>
        <servlet-class>servlet.DeleteTareaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTareaServlet</servlet-name>
        <url-pattern>/DeleteTareaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProyectoServlet</servlet-name>
        <servlet-class>servlet.DeleteProyectoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProyectoServlet</servlet-name>
        <url-pattern>/DeleteProyectoServlet</url-pattern>
    </servlet-mapping>
</web-app>
